html,
body {
  width: 100%;
  height: 100vh;
  background: red;
}

.main-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background: slateblue;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gameboard-container {
  width: 70%;
  height: 100%;
  margin: 40px auto 0 40px;
  background: green;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 30%;
  height: 100%;
  margin: 40px 40px 0 0;
  background: yellow;
}

.form-container .name-container {
  background-color: pink;
  height: 50%;
}

.form-container .name-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 20px;
  padding: 12px 20px;
}

.form-container .name-container .row label {
  margin-bottom: 6px;
}

.form-container .select-character-container {
  height: 50%;
  background-color: plum;
}

.form-container .select-character-container #character-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 80%;
}

.form-container .select-character-container #character-container .character-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 100%;
}

.form-container .select-character-container #character-container .character-div img {
  min-width: 50px;
  min-width: 50px;
  width: 50%;
  height: 50%;
}

.form-container .select-character-container .button-container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
}

#gameboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px black solid;
  border-radius: 25px;
  width: calc(33% - 30px);
  height: 200px;
  background-color: violet;
}

.cell img {
  min-width: 50px;
  min-width: 50px;
  width: 80%;
  height: auto;
}

.cell-win {
  background-color: green;
}

#avoid-clicks {
  pointer-events: none;
  cursor: no-drop;
  background-color: mediumaquamarine;
}

#avoid-clicks-p2 {
  pointer-events: none;
  cursor: no-drop;
  background-color: cyan;
}
/*# sourceMappingURL=style.css.map */