@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  font: 400 16px/16px 'Ubuntu', sans-serif, monospace;
}

.page-container {
  height: 100%;
  width: 100%;
}

.game-controls {
  position: absolute;
  top: 135px;
  right: 5px;
  z-index: 3;

  button {
    color: #f7f9f9;
    outline: none;
    border: none;
    padding: 6px 14px;
    border-radius: 4px;
    background-color: #c70039;
    border: 1px solid #95002b;
    border-left: 2px solid #95002b;
    border-right: 2px solid #95002b;
    border-bottom: 4px solid #95002b;
    transition-duration: 0.15s;
    -webkit-box-shadow: 0 0 16px -2px rgba(33, 9, 12, 1);
    -moz-box-shadow: 0 0 16px -2px rgba(33, 9, 12, 1);
    box-shadow: 0 0 16px -2px rgba(33, 9, 12, 1);

    &:hover {
      background-color: #ce2052;
      transition-duration: 0.2s;
      border: 1px solid #95002b;
      border-left: 2px solid #95002b;
      border-right: 2px solid #95002b;
      border-bottom: 5px solid #95002b;
    }

    &:active {
      border: 1px solid #95002b;
      border-left: 1px solid #95002b;
      border-right: 1px solid #95002b;
      border-bottom: 3px solid #95002b;
      -webkit-box-shadow: 0 0 7px 2px rgba(33, 9, 12, 1);
      -moz-box-shadow: 0 0 7px 2px rgba(33, 9, 12, 1);
      box-shadow: 0 0 7px 2px rgba(33, 9, 12, 1);
    }

    p {
      margin: 0 0 3px 0;
    }

    i {
      height: 10px;
      width: auto;
      margin-left: 5px;
      margin-top: -5px;
    }
  }
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  background-image: url('../assets/backgrounds/wood-table-new.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

// GAMEINFO ---------------------------------//
.game-info {
  background-image: url('../assets/backgrounds/wood-table.jpg');
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 130px;
  width: 100%;
  text-align: left;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom: 2px solid #404040;
  -webkit-box-shadow: 0 5px 16px -1px rgba(3, 2, 10, 1);
  -moz-box-shadow: 0 5px 16px -1px rgba(3, 2, 10, 1);
  box-shadow: 0 5px 16px -1px rgba(3, 2, 10, 1);

  .round-indicator,
  .message-box,
  .active-player-icons,
  .music-box {
    height: 100%;
  }

  .round-indicator {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
    width: 40%;
    color: #f7f9f9;
    text-align: left;

    #turn-counter,
    #player-turn {
      font-weight: 600;
      overflow: hidden;
      width: 100%;
      white-space: wrap;
      text-overflow: ellipsis;
      margin: 0;
      padding: 0;
      text-shadow: -1px -1px 0 #404040, 1px -1px 0 #404040, -1px 1px 0 #404040, 1px 1px 0 #404040;
    }

    #turn-counter {
      font-size: 28px;
      padding: 8px 4px 8px 20px;
      margin-bottom: 5px;
    }

    #player-turn {
      font-size: 22px;
      padding: 8px 4px 8px 20px;
    }
  }

  .active-player-icons {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
    width: 40%;

    .active-player-one {
      background-color: rebeccapurple;
      margin-right: 5px;
    }

    .active-player-two {
      background-color: gainsboro;
    }

    .active-player-one,
    .active-player-two {
      border-radius: 4px;

      img {
        width: 60px;
        height: 60px;
      }
    }

    .active-player-one {
      border: 1px solid #4da67f;
      -webkit-box-shadow: 0 0 16px -3px rgba(19, 42, 32, 1);
      -moz-box-shadow: 0 0 16px -3px rgba(19, 42, 32, 1);
      box-shadow: 0 0 16px -3px rgba(19, 42, 32, 1);
    }

    .active-player-two {
      border: 1px solid #f7f9f9;
      -webkit-box-shadow: 0 0 16px -1px rgba(0, 64, 64, 1);
      -moz-box-shadow: 0 0 16px -1px rgba(0, 64, 64, 1);
      box-shadow: 0 0 16px -1px rgba(0, 64, 64, 1);
    }
  }

  .music-box {
    background: url('../assets/backgrounds/ice.jpg');
    background-size: 100% auto;
    min-width: auto;
    display: flex;
    margin-left: auto;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-left: 2px solid #283747;
    border-bottom: 2px solid #283747;
    -webkit-box-shadow: 0 2px 9px 2px rgba(17, 10, 61, 1);
    -moz-box-shadow: 0 2px 9px 2px rgba(17, 10, 61, 1);
    box-shadow: 0 2px 9px 2px rgba(17, 10, 61, 1);

    .controls {
      padding: 0 5px;
      display: flex;
      justify-content: center;
      flex-flow: row wrap;

      .m {
        margin-right: 5px;
        margin-bottom: 1px;
      }

      button {
        height: 40px;
        width: auto;
        background: url('../assets/backgrounds/wood-table.jpg');
        background-size: 100%;
        color: #f7f9f9;
        outline: none;
        border: none;
        font-size: 20px;
        border-radius: 4px;
        padding: 8px;
        border-top: 1px solid #5d4037;
        border-right: 3px solid #4e342e;
        border-left: 3px solid #4e342e;
        border-bottom: 5px solid #4e342e;
        text-shadow: -1px -1px 0 #404040, 1px -1px 0 #404040, -1px 1px 0 #404040, 1px 1px 0 #404040;

        &:hover {
          background-color: #4e342e;
          transition-duration: 0.2s;
          border: 1px solid #4e342e;
          border-left: 2px solid #4e342e;
          border-right: 2px solid #4e342e;
          border-bottom: 5px solid #4e342e;
        }

        &:active {
          border: 1px solid #4e342e;
          border-left: 1px solid #4e342e;
          border-right: 1px solid #4e342e;
          border-bottom: 3px solid #4e342e;
          -webkit-box-shadow: 0 0 7px 2px rgba(33, 9, 12, 1);
          -moz-box-shadow: 0 0 7px 2px rgba(33, 9, 12, 1);
          box-shadow: 0 0 7px 2px rgba(33, 9, 12, 1);
        }
      }
    }
  }
}

// FORM CONTAINER ------------------------//
.form-container {
  overflow: hidden;
  overflow-y: auto;
  background-image: url("../assets/backgrounds/wood-table.jpg");
  background-size: 100%;
  position: absolute;
  color: #f7f9f9;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: column nowrap;
  width: 80%;
  height: auto;
  max-height: 90vh;
  padding-bottom: 20px;
  margin: 0 auto;
  border-radius: 12px;
  border: 4px solid #404040;
  -webkit-box-shadow: 0 2px 15px 3px rgba(30, 41, 79, 1);
  -moz-box-shadow: 0 2px 15px 3px rgba(30, 41, 79, 1);
  box-shadow: 0 2px 15px 3px rgba(30, 41, 79, 1);
  z-index: 4;

  .button-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20%;

    button {
      position: relative;
      top: 20px;
      color: #dcdcdc;
      background-image: url('../assets/backgrounds/ice.jpg');
      background-size: 100%;
      border: none;
      padding: 10px 16px;
      font-size: 20px;
      width: 70%;
      height: 50px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 8px 2px rgba(0, 10, 74, 1);
      -moz-box-shadow: 0 0 8px 2px rgba(0, 10, 74, 1);
      box-shadow: 0 0 8px 2px rgba(0, 10, 74, 1);
      text-shadow: -1px -1px 0 #404040, 1px -1px 0 #404040, -1px 1px 0 #404040, 1px 1px 0 #404040;
      margin: 0 auto 40px auto;

      &:hover {
        transform: scale(1.02);
        transition-duration: 0.2s;
        -webkit-box-shadow: 0 0 4px 1px rgba(0, 10, 74, 1);
        -moz-box-shadow: 0 0 4px 1px rgba(0, 10, 74, 1);
        box-shadow: 0 0 4px 1px rgba(0, 10, 74, 1);
      }
    }
  }

  h2 {
    font-size: 26px;
    margin-bottom: 0;
    text-align: center;
    color: #f7f9f9;
    text-shadow: -1px -1px 0 #404040, 1px -1px 0 #404040, -1px 1px 0 #404040, 1px 1px 0 #404040;
  }

  .name-container {
    height: 40%;
    padding: 12px 0;

    .p1 {
      input[type="text"] {
        color: #283747;

        &:focus {
          border-bottom: 10px solid #90a4ae;
          transition-duration: 0.2s;
        }
      }
    }

    .p1,
 .p2 {
      input[type="text"] {
        text-align: center;
        font-size: 20px;
      }
    }

    .p2 {
      input[type="text"] {
        color: #7d6608;
        //text-shadow: -1px -1px 0 #404040, 1px -1px 0 #404040, -1px 1px 0 #404040, 1px 1px 0 #404040;
        &:focus {
          border-bottom: 10px solid #f1c40f;
          transition-duration: 0.2s;
        }
      }
    }

    .row {
      display: flex;
      flex-flow: column nowrap;
      width: 90%;
      margin-bottom: 10px;
      padding: 12px 20px;
      margin: 0 auto 15px auto;

      label {
        font: 500 16px/16px 'Ubuntu', sans-serif;
        color: #f7f9f9;
        text-shadow: -1px -1px 0 #404040, 1px -1px 0 #404040, -1px 1px 0 #404040, 1px 1px 0 #404040;
        margin-bottom: 6px;
        width: auto;
      }

      input[type="text"] {
        width: 100%;
        height: 50px;
        outline: none;
        background: rgba(256, 256, 256, 0.6);
        border: none;
        border-bottom: 4px solid #dcdcdc;
        transition-duration: 0.15s;
        padding-bottom: 5px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        border: 1px solid #4e342e;

        &::-webkit-input-placeholder {
          color: #fff;
          font-weight: 600;
          font-size: 18px;
          text-shadow: -1px -1px 0 #404040, 1px -1px 0 #404040, -1px 1px 0 #404040, 1px 1px 0 #404040;
        }
      }
    }
  }

  .select-character-container {
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;

    @media screen and(min-width: 768px) {
      & {
        flex-flow: column nowrap;
      }
    }

    @media screen and(min-width: 1024px) {
      & {
        flex-flow: row nowrap;
      }
    }

    #character-container-1,
    #character-container-2 {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      height: auto;
      width: 50%;

      .character-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto;
        max-height: 150px;
        max-width: 150px;
        background: rgba(256, 256, 256, 0.5);
        margin: 10px;
        border-radius: 6px;
        transition-duration: 0.15s;
        border: 1px solid rgba(1, 1, 1, 0.4);
        -webkit-box-shadow: 0 0 12px -2px rgba(38, 38, 8, 1);
        -moz-box-shadow: 0 0 12px -2px rgba(38, 38, 8, 1);
        box-shadow: 0 0 12px -2px rgba(38, 38, 8, 1);

        img {
          max-height: auto;
          width: 100%;
          transition-duration: 0.2s;
        }

        &:hover {
          background-color: rgba(249, 235, 234, 0.9);
          transition-duration: 0.25s;
          border: 1px solid rgba(256, 256, 256, 0.4);
        }
      }
    }

    .button-container {
      margin: 0;
      display: flex;
      height: 20%;

      button {
        margin: 0 auto;
      }
    }
  }
}

// GAMEBOARD CONTAINER ---------------------//
.gameboard-background {
  margin-top: 10vh;
  width: 75%;
  height: 65vh;

  .gameboard-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 80%;

    .gameboard-fixer {
      position: relative;
      top: 50%;
      z-index: 2;
      background: url('../assets/backgrounds/kisspng-parchment-information-paper-document-pergamen-5b22e7f095f5a3.8831698115290142566142.png');
      background-size: 116% 100%;
      background-position: center;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      min-height: 78vh;
      max-height: 80vh;
      padding: 20px;
      width: 100%;
    }
  }
}

#gameboard {
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  height: auto;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  .gameboard-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
  }

  .border-horizontal {
    border-top: 4px solid #4e342e;
    border-bottom: 4px solid #4e342e;
  }

  .border-vert {
    border-right: 4px solid #4e342e;
    border-left: 4px solid #4e342e;
  }
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 33.333%;
    z-index: 5;

    &::after {
      content: '';
      display: block;
      margin-top: 100%;
    }

      img {
        min-width: 50px;
        min-width: 50px;
        width: 80%;
        height: auto;
    }
}

.cell-win {
  background-color: green;
}

#avoid-clicks {
  pointer-events: none;
  cursor: no-drop;
  background-color: #90a4ae;
  border-radius: 6px;
  transition-duration: 0.2s;
}

#avoid-clicks-p2 {
  pointer-events: none;
  cursor: no-drop;
  background-color: #f1c40f;
  border-radius: 6px;
  transition-duration: 0.2s;
}

@media only screen and (min-width: 468px) {
  .game-info {
    .active-player-icons {
      .active-player-one,
      .active-player-two {
        height: 80px;
        width: 80px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .form-container {
    h2 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .button-container {
      button {
        font-size: 18px;
        padding: 12px 16px;
      }
    }

    .name-container {
      .row {
        width: 80%;

        label {
          font-size: 24px;
          margin-bottom: 15px;
        }

        input[type="text"] {
          font-size: 20px;

          &::-webkit-input-placeholder {
            font-size: 14px;
          }
        }
      }
    }

    .select-character-container {
      flex-flow: column nowrap;

      #character-container-1,
      #character-container-2 {
        width: 100%;
        flex-flow: row nowrap;

        .character-div {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .game-info {
    .active-player-icons {
      .active-player-one,
      .active-player-two {
        height: 100px;
        width: 100px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .gameboard-background {
    width: 75%;
    height: 62vh;

    .gameboard-container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 100%;

      .gameboard-fixer {
        position: relative;
        top: 50%;
        z-index: 2;
        background: url('../assets/backgrounds/kisspng-parchment-information-paper-document-pergamen-5b22e7f095f5a3.8831698115290142566142.png');
        background-size: 116% 100%;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateY(-50%);
        height: 100%;
        min-height: 90vh;
        padding: 20px;
        width: 100%;
      }
    }
  }

  .form-container {
    h2 {
      font-size: 32px;
    }

    .select-character-container {
      #character-container-1,
      #character-container-2 {
        width: 80%;
      }
    }

    .name-container {
      .row {
        width: 70%;

        label {
          font-size: 28px;
          margin-bottom: 10px;
        }

        input[type="text"] {
          font-size: 22px;

          &::-webkit-input-placeholder {
            font-size: 16px;
          }
        }
      }
    }
  }

  .gameboard-row {
    max-height: 450px;
    max-width: 70%;
  }

  .cell {
    max-width: 220px;
    max-height: 220px;
  }
}

@media screen and (min-width: 1024px) {
  .gameboard-row {
    max-height: 280px;
    max-width: 50%;
  }

  .form-container {
    max-width: 70%;

    .select-character-container {
      #character-container-1,
      #character-container-2 {
        .character-div {
          width: 27%;
        }
      }
    }
  }
}
