*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: red;
}

.main-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background: slateblue;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gameboard-container {
  width: 70%;
  height: 100%;
  margin: 40px auto 0 40px;
  background: green;
}

.form-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 60%;
  height: auto;
  margin: 0 auto;
  background: yellow;
}

.form-container h2 {
  text-align: center;
}

.form-container .name-container {
  background-color: pink;
  height: 40%;
}

.form-container .name-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-bottom: 20px;
  padding: 12px 20px;
}

.form-container .name-container .row label {
  margin-bottom: 6px;
}

.form-container .select-character-container {
  height: auto;
  background-color: plum;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .form-container .select-character-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .form-container .select-character-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

.form-container .select-character-container #character-container-1,
.form-container .select-character-container #character-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 50%;
}

.form-container .select-character-container #character-container-1 .character-div,
.form-container .select-character-container #character-container-2 .character-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: auto;
  background: rgba(1, 1, 1, 0.3);
  margin: 10px;
  border-radius: 6px;
}

@media screen and (min-width: 320px) {
  .form-container .select-character-container #character-container-1 .character-div,
  .form-container .select-character-container #character-container-2 .character-div {
    width: 60%;
  }
}

@media screen and (min-width: 468px) {
  .form-container .select-character-container #character-container-1 .character-div,
  .form-container .select-character-container #character-container-2 .character-div {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .form-container .select-character-container #character-container-1 .character-div,
  .form-container .select-character-container #character-container-2 .character-div {
    width: 27%;
  }
}

@media screen and (min-width: 1024px) {
  .form-container .select-character-container #character-container-1 .character-div,
  .form-container .select-character-container #character-container-2 .character-div {
    width: 25%;
  }
}

.form-container .select-character-container #character-container-1 .character-div img,
.form-container .select-character-container #character-container-2 .character-div img {
  max-height: auto;
  width: 100%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.form-container .select-character-container .button-container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
}

.form-container .select-character-container .button-container button {
  margin: 0 auto;
}

#gameboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px black solid;
  border-radius: 25px;
  width: calc(33% - 30px);
  height: 200px;
  background-color: violet;
}

.cell img {
  min-width: 50px;
  min-width: 50px;
  width: 80%;
  height: auto;
}

.cell-win {
  background-color: green;
}

#avoid-clicks {
  pointer-events: none;
  cursor: no-drop;
  background-color: mediumaquamarine;
  border-radius: 6px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

#avoid-clicks-p2 {
  pointer-events: none;
  cursor: no-drop;
  background-color: cyan;
  border-radius: 6px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
/*# sourceMappingURL=style.css.map */